@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 16px;
    background-color: #cafdff;
}
.logo{
    width: 300px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-left: 16px;
}
a{
    color: black;
    font-weight: 700;
    font-size: 16px;
}
a:hover{
    color: #0077b6;
}
header{
    background-color: #eadcff;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 72px;
    margin-bottom: 16px;
}
.subheader{
    font-size: 24px;
    margin: 16px 0 24px 0;
}
button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}
.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
img{
    width: 100%;
}
#about, #Discord, #Contact, footer{
    padding: 48px 0px;
}
/* about section*/

#about{
    background-color: #f8ffdc;
}
h2{
    font-size: 60px;
    margin-bottom: 24px;
    text-align: center;
}
.section__description{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 32px;
}
.about__image--wrapper img{
    width: 40%;
    padding: 0 24px;
}
.about__image{
    width: 800px;
}
.section__description--wrapper{
    width: 60%;
    padding: 0 24px;
}
.section__description--para{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.5;
}
/* discord section*/

#Discord{
    background-color: #cefeff;
}
.discord__image--wrapper{
    width: 40%;
    padding: 0 24px
}
/* contact section*/
#contact{
    background-color: #dce9ff
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
input, textarea{
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* footer section*/
footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo{
    width: 200px;
    margin-bottom: 16px;
}
.footer__links{
    gap: 24px;
    margin-bottom: 16px;
}
.footer__link{
    color: black;
    font-weight: 700;
    font-size: 16px;
    margin: 0 16px;
    text-decoration: none;
}
/* responsive design -- phones, tablets*/
@media (max-width: 768px){
.row{
    flex-direction: column;
}
.home__description{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__description--button{
    max-width: 200px;
}
h1{
    text-align: center;
    font-size: 60px;
}.subheader{
    text-align: center;
    font-size: 20px;
}
ul{
    display: none   ;
}
.section__description{
    flex-direction: column;
}
.row img{
    max-width: 80%;
}
#discord .section__description{
    flex-direction: column-reverse;
}